nextflow.enable.dsl = 2


process {
    executor = 'local'          // Can be 'awsbatch', 'slurm', etc.
    cpus = 2                    // Default number of CPUs
    memory = '8 GB'             // Default memory if not specified in the process block
    time = '2h'                 // Default timeout
    
    
    withName:REMOVE_ADAPTER {
        cpus = 4                // Override CPU for adapter trimming
        container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0' 
    }
    withName:DEMULTIPLEX {
        cpus = 4                // Override CPU for adapter trimming
        container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0' 
    }
    
    withName:BBDUK_ADAPTER_REMOVAL {
        cpus = 4                // Override CPU for adapter trimming
        container = 'seqwell/fq_assemble:v1.0' 
    }
    
    withName:CUTADAPT_DEMUX_SE {
        cpus = 4                // Override CPU for adapter trimming
        container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0'
    }    
   
   withName:BBDukTrimAdapters {
        cpus = 4                // Override CPU for adapter trimming
        container = 'seqwell/fq_assemble:v1.0'
    }    
   withName:CUTADAPT_TRIM {
        cpus = 4                // Override CPU for adapter trimming
        container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0'
    }
   withName: 'BBREPAIR' {
        container = 'seqwell/fq_assemble:v1.0'
        memory = 6.GB

      }
  withName: 'FASTP' {
        container = 'seqwell/fastp:v0.20.1_cv1'
        memory = 6.GB
      }   
}

docker.enabled = true          // Ensure Docker is enabled if running in containers

params {
    fq = null                  // Path to input FASTQ file(s), e.g. --fq "*.fastq.gz"
    barcodes = null            // Path to barcode file, e.g. --barcodes barcode.fa
    outdir = "results"         // Default output directory
    length_filter = 300
    error_rate = 0.12
    pool_ID = null
  }

/*
timeline {
    enabled = true
    file = "timeline.html"
}

report {
    enabled = true
    file = "report.html"
}

trace {
    enabled = true
    file = "trace.txt"
}
*/
