nextflow.enable.dsl = 2



// ---- Global Docker settings ----
docker {
  enabled = true
}

// ---- Global AWS credentials (only used if awsbatch profile is active) ----
aws {
  accessKey = '*'
  secretKey = '*'
  region = 'us-east-2'
}

// ---- Default parameters ----
params {
    input_path = null                  // Path to input FASTQ file(s), e.g. --fq "*.fastq.gz"
    barcodes = null                    // Path to barcode file, e.g. --barcodes barcode.fa
    outdir = "results"                 // Default output directory
    length_filter = 200                // 
    error_rate = 0.06                  // for 17bp barcode, 17*0.06=0.1 error rate
    pool_ID = null
}

// ---- Profiles ----
profiles {

  // --- For GitHub Actions CI or local dev ---
  test {
    process.executor = 'local'
    docker.enabled = true
    params {
      outdir = 'ci_output'
      input_path = 'test_data'
      barcodes = 'test_data/barcodes.fa'
      length_filter = 200
      error_rate = 0.06
      pool_ID = "test"
    }
  }

  // --- Optional: production run with AWS Batch ---
  awsbatch {
    process {
      executor = 'awsbatch'
      queue = 'spot_low_priority'
      container = 'seqwell/python:v2.0'
      memory = '7 GB'
      cpus = 4
    }

    aws {
      accessKey = '*'
      secretKey = '*'
      region = 'us-east-2'
    }
  }
}

// ---- Process-specific settings (default local + docker) ----
process {
  
    executor = 'local'          // Can be 'awsbatch', 'slurm', etc.
    cpus = 2                    // Default number of CPUs
    memory = '7 GB'             // Default memory if not specified in the process block
    time = '2h'                 // Default timeout
    container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0'

    
    withName:CUTADAPT_DEMUX_SE {
        memory = '15 GB'          
        cpus = 4                // Override CPU for adapter trimming
    }    
   

    withName:CUTADAPT_TRIM {
        cpus = 4                // Override CPU for adapter trimming
    }
}
